.login__container {
  display: grid;
  align-items: stretch;
  grid-template-columns: 1fr 1fr;
  height: 75vh;
}
.login__container .login--left{
  background-color: var(--primary);
}
.login__container :nth-child(2) {
  background-color: var(--bg-color);
}
.login--right {
  padding: 32px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 8px;
}
label {
  color: var(--subtitle);
}
input {
  margin-bottom: 12px;
  padding: 12px 6px;
  border-radius: 8px;
  border: 1px solid lightgray;
  outline: 0;
}
input:focus {
  outline: auto;
}
input[type="button"] {
  cursor: pointer;
  background: rgb(33,118,255);
  background: linear-gradient(90deg, rgba(33,118,255,1) 0%, rgba(49,22,202,1) 25%, rgba(76,42,133,1) 85%);
  color: var(--bg-color);
  font-size: 1rem;
}
input[type="button"]:hover {
  opacity: 0.8; 
}
a {
  display: inline-grid;
  justify-content: end;
  width: 100%;
  margin-bottom: 8px;
  text-decoration: none;
  font-weight: 300;
}
a:hover {
  text-decoration: underline;
}